<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
	<h3>Watching</h3>
	<table class="centered">
    	<thead>
    		<tr>
				<th>Stream</th><th>1-way</th><th>2-way</th>
   			</tr>
   		</thead>
    	<tbody>
    		<tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
        		<td><a>{{stream.name}}</a></td>
                <td ng-click="rtc.view(stream)"><a>View</a></td>
                <td ng-click="rtc.call(stream)"><a>Call</a></td>
    		</tr>
		</tbody>
	</table>
	<div class="row watch_wrap">
		<div class="col video_wrap" id="remoteVideosContainer"></div>
		<div class="col chat_wrap">
			<div id='chat'>
				<div class="chat_show">

				</div>
				<input placeholder="test input" ng-model='rtc.input'>
				<input type="submit" ng-click='rtc.send_text()'>
			</div>
		</div>
	</div>
	<div class="refresh">
		<li ng-click="rtc.loadData()">
			<a href>Refresh</a>
		</li>
	</div>


</div>